<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>German</string>
	<key>CFBundleIdentifier</key>
	<string>de.tekl.dictionary.beoLingusDeutschEnglisch</string>
	<key>CFBundleName</key>
	<string>BeoLingus Deutsch-Englisch</string>
	<key>CFBundleShortVersionString</key>
	<string>2019.04.15</string>
	<key>CFBundleVersion</key>
	<string>2019.04.15</string>
	<key>DCSDictionaryCopyright</key>
	<string>Copyright © 1995-2019 TU Chemnitz, www.beolingus.de / Wolfgang Reszel, www.tekl.de</string>
	<key>DCSDictionaryDefaultPrefs</key>
	<dict>
		<key>CheckForUpdates</key>
		<string>2</string>
		<key>Show-Flags</key>
		<true/>
		<key>ShowCopyright</key>
		<string>1</string>
	</dict>
	<key>DCSDictionaryFrontMatterReferenceID</key>
	<string>front_back_matter</string>
	<key>DCSDictionaryManufacturerName</key>
	<string>Wolfgang Reszel (www.tekl.de)</string>
	<key>DCSDictionaryPrefsHTML</key>
	<string>Deutsch-Englisch_prefs.html</string>
	<key>DCSDictionaryXSL</key>
	<string>Deutsch-Englisch.xsl</string>
	<key>LSHasLocalizedDisplayName</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Content: © 1995-2019 TU Chemnitz, www.beolingus.de&lt;br/&gt;Plug-in: © 2019 Wolfgang Reszel, www.tekl.de</string>
</dict>
</plist>
